<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZs4xLjl42ml4j6ITHS2-y6de1h5mrPjU</string>
	<key>GCM_SENDER_ID</key>
	<string>302829653977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onboardingTm</string>
	<key>PROJECT_ID</key>
	<string>unboarding-tm-402908</string>
	<key>STORAGE_BUCKET</key>
	<string>unboarding-tm-402908.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302829653977:ios:7f3500911032bf28aad3c8</string>
</dict>
</plist>